{%extends 'tem.html'%}
{%load static%}
{%block metadescription%}
    This is the shopping cart page.
    Proceed to review your items and place the order.
{%endblock%}

{%block title%}
    Cart = Perfect Cushion Store
{%endblock%}

<!-- 위의 코드 삭제 가능. 모든 기능 확인 후 삭제 -->

{%block contents%}
    {%if not cart_items%}
        <div>
            <div class="text-center">
                <br>
                <h1 class="text-center my_title">고객님의 장바구니가 비어있습니다.</h1><br>
                <p class="text-center">계속 쇼핑하시려면 <a href=#>여기</a>를 클릭해주세요.</p>
                <!--위의 href=쇼핑할 수 있는 페이지 연결-->
            </div>
        </div>
    {%else%}
        <div>
            <div class="text-center">
                <br><h1 class="text-center my_title">고객님의 장바구니입니다.</h1><br>
            </div>
        </div>
        <div class="row mx-auto">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <table class="table my_custom_table">
                    <thread class="my_custom_thread">
                        <tr>
                            <th colspan="5">
                                장바구니 항목
                            </th>
                        </tr>
                    </thread>
                    <tbody>
                        {%for cart_item in cart_items%}
                            <tr>
                                <td>
                                    <a href="{{cart_item.product.get_absolute_url}}"><img src="{{cart_item.product.image.url}}"
                                    alt="" class="float-left rounded custom_image"></a>
                                </td>
                                <td class="text-left">
                                    {{cart_item.product.p_name}}
                                    <br>
                                    SKU: {{cart_item.product.id}}
                                    <br>
                                    개당 가격 : A${{cart.item.product.p_price}}
                                    <br>
                                    Qty : {{cart_item.quantity}} x A${{cart_item.product.p_price}}
                                </td>
                                <td>
                                    A${{cart_item.sub_total}}
                                </td>
                                {%if cart_item.quantity < 0%}
                                <!-- 0이 원래는 cart_item.product.stock인데 selectApp.models.Product에 stock이 없음 -->
                                    <td>
                                        <a href="{%url 'cart:add_cart' cart_item.product.id%}" class="custom_a">
                                            <i class="fas fa-plus-circle custom_icon"></i></a>&nbsp;
                                        <a href="" class="custom_a"><i class="fas fa-minus-circle custom_icon"></i></a>&nbsp;
                                        <a href="" class="custom_a"><i class="fas fa-trash-alt custom_icon"></i></a>
                                    </td>
                                {%else%}
                                    <td>
                                        &nbsp;<a href="" class="custom_a"><i class="fas fa-minus-circle custom_icon"></i></a>&nbsp;
                                        <a href="" class="custom_a"><i class="fas fa-trash-alt custom_icon"></i></a>
                                    </td>
                                    <td></td>
                                {%endif%}
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <table class="table my_custom_table">
                    <thread class="my_custom_thread">
                        <tr>
                            <th>
                                주문 및 결제
                            </th>
                        </tr>
                    </thread>
                    <tbody>
                        <tr>
                            <td>
                                주문 및 결제를 진행하기 전에 장바구니 항목을 검토해주세요.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                총금액 : <strong>A${{total}}</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mx-auto">
                    <a href="#" class="btn btn-secondary btn-block my_custom_button">쇼핑 계속하기</a>
                    <!-- 쇼핑페이지로 연결. 맨 위와 같은 링크 -->
                </div>
            </div>
        </div>
        <br>
    {%endif%}
    <a href="#">
        <button>드라이브쓰루 신청하기</button>
    </a>

{%endblock%}